/* .my-class {
    background-image: url('./images/tae.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
  } */

  /* .home{
    background-color: aqua;
    position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  } */